@font-face {
  font-family: 'National Black';
  src: url('../fonts/National-Black.otf');
}

@font-face {
  font-family: 'National Black Italic';
  src: url('../fonts/National-BlackItalic.otf');
}

@font-face {
  font-family: 'National Bold';
  src: url('../fonts/National-Bold.otf');
}

@font-face {
  font-family: 'National Bold Italic';
  src: url('../fonts/National-BoldItalic.otf');
}

@font-face {
  font-family: 'National Book';
  src: url('../fonts/National-Book.otf');
}

@font-face {
  font-family: 'National Book Italic';
  src: url('../fonts/National-BookItalic.otf');
}

@font-face {
  font-family: 'National Extrabold';
  src: url('../fonts/National-Extrabold.otf');
}

@font-face {
  font-family: 'National Extrabold Italic';
  src: url('../fonts/National-ExtraboldItalic.otf');
}

@font-face {
  font-family: 'National Light';
  src: url('../fonts/National-Light.otf');
}

@font-face {
  font-family: 'National Light Italic';
  src: url('../fonts/National-LightItalic.otf');
}

@font-face {
  font-family: 'National Medium';
  src: url('../fonts/National-Medium.otf');
}

@font-face {
  font-family: 'National Medium Italic';
  src: url('../fonts/National-MediumItalic.otf');
}

@font-face {
  font-family: 'National Regular';
  src: url('../fonts/National-Regular.otf');
}

@font-face {
  font-family: 'National Regular Italic';
  src: url('../fonts/National-RegularItalic.otf');
}

@font-face {
  font-family: 'National Semibold';
  src: url('../fonts/National-Semibold.otf');
}

@font-face {
  font-family: 'National Semibold Italic';
  src: url('../fonts/National-SemiboldItalic.otf');
}

@font-face {
  font-family: 'National Thin';
  src: url('../fonts/National-Thin.otf');
}

@font-face {
  font-family: 'National Thin Italic';
  src: url('../fonts/National-ThinItalic.otf');
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'National Regular';
}

ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
  padding-right: 10px;
}

.uppercase {
  text-transform: uppercase;
}

.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  color: #666;
  font-weight: normal;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 1px solid #333333;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    left: 11px;
    content: " ";
    display: block;
    background: black;
}

.mr-left {
  margin-left: auto!important;
}

.white {
  color: white;
}

.blur {
  filter: blur(13px);
}

.fade-text {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: (linear-gradient(180deg, rgba(255,255,255,0) 0%, white 100%));
    pointer-events: none;
  }
}